.GeneralData {
    margin: 20px 0;

    &-content {

        .title {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 8px;

            img {
                background: var(--purple-color);
                border-radius: 14px;
                width: 64px;
                height: 64px;
                padding: 8px;
                animation: move 2s linear infinite;
                transition: 300ms;
            }

            .GeneralData-name {
                font-family: FL;
            }
        }

        .row {
            display: flex;
            margin-top: 30px;
            gap: 26px;

            .block {
                min-width: 300px;
                width: 100%;
                height: 170px;
                border-radius: 20px;
                padding: 30px;
                background: #0000001c;

                &.average {
                    //ПЕРВЫЙ БЛОК
                    background: linear-gradient(90deg, rgba(106, 226, 36, 0.082) 0%, rgba(122, 224, 63, 0.178) 100%);

                    .block-data {
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        align-items: start;

                        &-name {
                            width: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;

                            h3 {
                                font-family: FL;
                                width: 100%;
                                color: var(--grey-color);
                            }

                            img {
                                background: var(--green-color);
                                border-radius: 10px;
                                width: 40px;
                                height: 40px;
                                box-shadow: 4px -1px 7px 1px rgba(34, 60, 80, 0.2);
                                padding: 8px;
                            }
                        }

                        &-amount {
                            width: 100%;

                            h1 {
                                width: 100%;
                                font-family: FL;
                                color: var(--green-color);
                            }
                        }
                    }
                }

                &.growth {
                    //ВТОРОЙ БЛОК
                    background: #DBFBE9;
                    background: linear-gradient(90deg, rgba(106, 226, 36, 0.082) 0%, rgba(122, 224, 63, 0.178) 100%);
                    backdrop-filter: blur(10px);
                    -webkit-backdrop-filter: blur(10px);
                    opacity: 0.9;
                    /* для Safari */
                    border-radius: 12px;
                    padding: 30px;
                    color: #2e7d32;
                    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

                    .block-data {
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        align-items: start;

                        &-name {
                            width: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;

                            h3 {
                                font-family: FL;
                                width: 100%;
                                color: var(--grey-color);
                            }

                            img {
                                background: var(--green-color);
                                border-radius: 10px;
                                width: 40px;
                                height: 40px;
                                padding: 8px;
                                box-shadow: 4px -1px 7px 1px rgba(34, 60, 80, 0.2);
                            }
                        }

                        &-amount {
                            width: 100%;

                            h1 {
                                width: 100%;
                                font-family: FL;
                                color: var(--green-color);
                            }
                        }
                    }
                }

                &.falling {
                    //ТРЕТИЙ БЛОК
                    background: linear-gradient(90deg, rgba(255, 0, 0, 0.062) 0%, rgba(255, 0, 0, 0.13) 100%);
                    backdrop-filter: blur(10px);
                    -webkit-backdrop-filter: blur(10px);
                    /* для Safari */
                    border-radius: 12px;
                    padding: 30px;
                    color: #2e7d32;
                    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

                    .block-data {
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        align-items: start;

                        &-name {
                            width: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;

                            h3 {
                                font-family: FL;
                                width: 100%;
                                color: var(--grey-color);
                            }

                            img {
                                background: var(--red-color);
                                border-radius: 10px;
                                width: 40px;
                                height: 40px;
                                padding: 8px;
                                box-shadow: 4px -1px 7px 1px rgba(34, 60, 80, 0.2);
                            }
                        }

                        &-amount {
                            width: 100%;

                            h1 {
                                width: 100%;
                                font-family: FL;
                                color: var(--red-color);
                            }
                        }
                    }
                }

                &.total {
                    //ТРЕТИЙ БЛОК
                    background: linear-gradient(90deg,rgba(61, 137, 219, 0.089) 0%, rgba(4, 91, 253, 0.178) 100%);
                    backdrop-filter: blur(10px);
                    -webkit-backdrop-filter: blur(10px);
                    /* для Safari */
                    border-radius: 12px;
                    padding: 30px;
                    color: #2e7d32;
                    

                    .block-data {
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        align-items: start;

                        &-name {
                            width: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;

                            h3 {
                                font-family: FL;
                                width: 100%;
                                color: var(--grey-color);
                            }

                            .img {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                background: var(--red-color);
                                border-radius: 10px;
                                color: white;
                                font-family: FR;
                                font-weight: 500;
                                width: 40px !important;
                                height: 40px;
                                flex-shrink: 0;
                                font-size: 24px;
                                background: var(--blue-color);
                                box-shadow: 4px -1px 7px 1px rgba(34, 60, 80, 0.2);
                            }
                        }

                        &-amount {
                            width: 100%;

                            h1 {
                                width: 100%;
                                font-family: FL;
                                color: var(--blue-color);
                            }
                        }
                    }
                }


            }
        }

    }
}

@keyframes move {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateY(-6px);
    }

    100% {
        transform: translateY(0);
    }
}