.GeneralData {
    margin: 20px 0;

    &-content {

        .title {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 8px;

            img {
                background: #705EFF;
                border-radius: 14px;
                width: 64px;
                height: 64px;
                padding: 8px;
                animation: move 2s linear infinite;
                transition: 300ms;
            }

            .GeneralData-name {
                font-family: FL;
            }
        }

        .row{
            display: flex;
            margin-top: 30px;
            gap: 26px;
            .block{
                min-width: 300px;
                width: 100%;
                height: 200px;
                background: #00000013;
                border-radius: 20px;
                padding: 30px;
            }
        }

    }
}

@keyframes move {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateY(-6px);
    }

    100% {
        transform: translateY(0);
    }
}