@font-face {
  font-family: 'FL';
  src: url('./assets/fonts/OpenSans-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'FR';
  src: url('./assets/fonts/OpenSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'FB';
  src: url('./assets/fonts/OpenSans-Bold.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  text-decoration: none;
  outline: none;
  border: none;
  font-family: FR;
}

.container {
  width: 1440px;
  max-width: 1440px;
  padding: 0 20px;
}

body{
  background: white;
  // background: white;
}