:root {
  --green-color: rgba(49, 187, 31, 0.692);
  --grey-color: rgba(0, 0, 0, 0.801);
  --red-color: rgba(228, 43, 43, 0.712);
  --purple-color: #705EFF;
  --blue-color: rgba(30, 43, 223, 0.555);



  @font-face {
    font-family: 'Open Sans';
    src: url('./assets/fonts/OpenSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Open Sans';
    src: url('./assets/fonts/OpenSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Open Sans';
    src: url('./assets/fonts/OpenSans-Bold.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
  }
}